
//== XF Header style, used on page template

header.experiencefragment {

    // Global positioning styles
    .navigation, .languagenavigation, .search {
        position: absolute;
        top: 20px;
        width: 100%;
        height: 45px;
    }

    .languagenavigation, .search {
        display: inline-block;
        width: auto;
        right: 0;
    }

    a {
        color: $color-white;
        text-decoration: none;

        @media (prefers-color-scheme: dark) {
            color: $color-foreground-dark;
        }

        &:hover,
        &:focus {
            color: $color-white;
            text-decoration: underline;

            @media (prefers-color-scheme: dark) {
                color: $color-link-dark;
            }
        }
    }

    //== Navigation

    .cmp-navigation__item--active > .cmp-navigation__item-link {
        font-weight: bold;
    }

    //== Language Navigation

    .languagenavigation {
        position: absolute;
        right: 35px;
        pointer-events: none;
    }

    .cmp-languagenavigation {
        position: relative;
        pointer-events: auto;
        cursor: pointer;
        width: 28px;
        margin-left: auto;
        top: 12px;

        &::before {
            content: " ";
            display: block;
            height: 1.5em;
            background-position: center;
            background-image: url('../resources/images/icon-web.svg');
            background-repeat: no-repeat;

            //background-image: url('http://localhost:8080/etc.clientlibs/wknd-muzik/clientlibs/clientlib-site/resources/images/icon-web.svg');
        }
        & > .cmp-languagenavigation__group {
            visibility: hidden;
            transition-delay: .25s;
            position: absolute;
            top: 34px;
            min-width: 220px;
            padding: 0;
            border-top: 0;
            background: $color-background;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);

            @media (prefers-color-scheme: dark) {
                border-color: $color-foreground-dark;
                background: $color-background-dark;
            }
        }
        &:hover > .cmp-languagenavigation__group {
            visibility: visible;
            transition-delay: 0s;
        }
    }
    .cmp-languagenavigation__group {
        cursor: default;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 11px;
        letter-spacing: 0.44px;
        right: 0;
    }
    .cmp-languagenavigation__item-title {
        font-size: 11px;
    }
    .cmp-languagenavigation__item--level-0 {
        padding: 7px 37px;
        background: rgba(0,0,0,0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        &:last-of-type {
            border-bottom: none;
        }
    }
    .cmp-languagenavigation__item--level-1 {
       display: inline;
    }
    .cmp-languagenavigation__item--level-1:not(:first-child)::before {
        content: " | ";
    }
    .cmp-languagenavigation__item--active {

        &:before {
            content: " ";
            position: absolute;
            left: 14px;
            top:19px;
            display: block;
            height: 8px;
            width: 11px;
            background-position: center;
            background-image: url('../resources/images/icon-check.svg');
            background-repeat: no-repeat;

            //background-image: url('http://localhost:8080/etc.clientlibs/wknd-muzik/clientlibs/clientlib-site/resources/images/icon-check.svg');
        }

    }
    .cmp-languagenavigation__item--active > .cmp-languagenavigation__item-link,
    .cmp-languagenavigation__item--active > .cmp-languagenavigation__item-title {
        font-weight: bold;
    }

    //== Search

    .search {
        right: 80px;
    }

    .cmp-search-container {
        position: relative;
        pointer-events: auto;
        cursor: pointer;
        width: 28px;
        margin-left: auto;
        top: 12px;

        &::before {
            content: " ";
            display: block;
            height: 1.5em;
            background-position: center;
            background-image: url('../resources/images/icon-search.svg');
            background-repeat: no-repeat;

            //background-image: url('http://localhost:8080/etc.clientlibs/wknd-muzik/clientlibs/clientlib-site/resources/images/icon-search.svg');
        }
        & > .cmp-search {
            visibility: hidden;
            transition-delay: 0.25s;
            position: absolute;
            top: 34px;
            right: 0;
            min-width: 220px;
            padding: 0;
            border-top: 0;
            background: $color-background;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);

            @media (prefers-color-scheme: dark) {
                border-color: $color-foreground-dark;
                background: $color-background-dark;
            }
        }
        &:hover > .cmp-search {
            visibility: visible;
            transition-delay: 0s;
        }

        .cmp-search__form {
            border-radius: 5px;
            padding: 8px 10px;
            background: rgba(0,0,0,0.3);
        }

        .cmp-search__field {
            height: auto;
        }

        .cmp-search__input {
            color: white;
            background: transparent;
            border: none;
        }

        .cmp-search__icon {
            top: 8px;
            left: 2px;
            background-image: url('../resources/images/icon-search.svg');
            background-repeat: no-repeat;

            //background-image: url('http://localhost:8080/etc.clientlibs/wknd-muzik/clientlibs/clientlib-site/resources/images/icon-search.svg');
        }
    }

}
