
//== XF Header style, used on page template

header.experiencefragment {

    // Global positioning styles
    .navigation, .languagenavigation, .search, .button {
        position: absolute;
        top: 20px;
        width: 100%;
        height: 45px;
    }

    .languagenavigation, .search {
        display: inline-block;
        width: auto;
        right: 0;
    }

    a {
        color: $color-white;
        text-decoration: none;

        @media (prefers-color-scheme: dark) {
            color: $color-foreground-dark;
        }

        &:hover,
        &:focus {
            color: $color-white;
            text-decoration: underline;

            @media (prefers-color-scheme: dark) {
                color: $color-link-dark;
            }
        }
    }

    //== Navigation

    .cmp-navigation {
        position: absolute;
        left: 0;
        width: 100%;
        height: 45px;
        padding-left: 35px;
        padding-right: 35px;

        &__group {
            position: relative;
            height: 45px;
        }

        &__item {

            &--level-0 {
                display: block;
                height: 45px;
                position: relative;

                > .cmp-navigation__item-link {
                    display: inline-block;
                    vertical-align: center;
                    margin-top: auto;
                    margin-bottom: auto;
                    font-size: 29px;
                    letter-spacing: 0.58px;
                    z-index: 10;

                    &:focus, &:hover {
                        text-decoration: none;
                    }

                }
            }

            .cmp-navigation__group {
                display: flex;
                align-items: center;
                justify-items: center;
                justify-content: center;
                position: absolute;
                left: 0;
                top: 0;
                width: calc(100% - 560px);
                list-style: none;
                padding: 0;
                margin: 0 280px;

                .cmp-navigation__item--level-1 {
                    font-size: 12px;
                    text-transform: uppercase;
                    letter-spacing: 2.4px;
                    margin-right: 50px;

                    &:last-of-type {
                        margin-right: 0;
                    }
                }
            }
        }

        &__item-link {
            font-weight: bold;
            color: $color-white;

            &--highlight {
                color: $color-blue;
                margin-right: 4px;
            }

            &:focus, &:hover {
                color: $color-link !important;
                text-decoration: none !important;

                .cmp-navigation__item-link--highlight {
                    color: $color-link;
                }
            }
        }

    }

    .cmp-navigation__item--active > .cmp-navigation__item-link {
        font-weight: bold;
    }

    //== Language Navigation

    .languagenavigation {
        position: absolute;
        right: 35px;
        pointer-events: none;
    }

    .cmp-languagenavigation {
        position: relative;
        pointer-events: auto;
        cursor: pointer;
        width: 28px;
        margin-left: auto;
        top: 12px;

        &::before {
            content: " ";
            display: block;
            height: 1.5em;
            background-position: center;
            background-image: url('../resources/images/icon-web.svg');
            background-repeat: no-repeat;

            //background-image: url('http://localhost:8080/etc.clientlibs/wknd-muzik/clientlibs/clientlib-site/resources/images/icon-web.svg');
        }
        & > .cmp-languagenavigation__group {
            visibility: hidden;
            transition-delay: .25s;
            position: absolute;
            top: 34px;
            min-width: 220px;
            padding: 0;
            border-top: 0;
            background: $color-background;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            z-index: 9;

            @media (prefers-color-scheme: dark) {
                border-color: $color-foreground-dark;
                background: $color-background-dark;
            }
        }
        &:hover > .cmp-languagenavigation__group {
            visibility: visible;
            transition-delay: 0s;
        }
    }
    .cmp-languagenavigation__group {
        cursor: default;
        margin: 0;
        padding: 0;
        list-style: none;
        font-size: 11px;
        letter-spacing: 0.44px;
        right: 0;
    }
    .cmp-languagenavigation__item-title {
        font-size: 11px;
    }
    .cmp-languagenavigation__item--level-0 {
        padding: 7px 37px;
        background: rgba(0,0,0,0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);

        &:last-of-type {
            border-bottom: none;
        }
    }
    .cmp-languagenavigation__item--level-1 {
       display: inline;
    }
    .cmp-languagenavigation__item--level-1:not(:first-child)::before {
        content: " | ";
    }
    .cmp-languagenavigation__item--active {

        &:before {
            content: " ";
            position: absolute;
            left: 14px;
            top:19px;
            display: block;
            height: 8px;
            width: 11px;
            background-position: center;
            background-image: url('../resources/images/icon-check.svg');
            background-repeat: no-repeat;

            //background-image: url('http://localhost:8080/etc.clientlibs/wknd-muzik/clientlibs/clientlib-site/resources/images/icon-check.svg');
        }

    }
    .cmp-languagenavigation__item--active > .cmp-languagenavigation__item-link,
    .cmp-languagenavigation__item--active > .cmp-languagenavigation__item-title {
        font-weight: bold;
    }

    //== Search

    .search {
        right: 80px;
    }

    .cmp-search-container {
        position: relative;
        pointer-events: auto;
        cursor: pointer;
        width: 28px;
        margin-left: auto;
        top: 12px;

        &::before {
            content: " ";
            display: block;
            height: 1.5em;
            background-position: center;
            background-image: url('../resources/images/icon-search.svg');
            background-repeat: no-repeat;

            //background-image: url('http://localhost:8080/etc.clientlibs/wknd-muzik/clientlibs/clientlib-site/resources/images/icon-search.svg');
        }
        & > .cmp-search {
            visibility: hidden;
            transition-delay: 0.25s;
            position: absolute;
            top: 34px;
            right: 0;
            min-width: 220px;
            padding: 0;
            border-top: 0;
            background: $color-background;
            background-color: rgba(255, 255, 255, 0.3);
            border-radius: 5px;
            -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
            z-index: 9;

            @media (prefers-color-scheme: dark) {
                border-color: $color-foreground-dark;
                background: $color-background-dark;
            }
        }
        &:hover > .cmp-search {
            visibility: visible;
            transition-delay: 0s;
        }

        .cmp-search__form {
            border-radius: 5px;
            padding: 8px 10px;
            background: rgba(0,0,0,0.3);
        }

        .cmp-search__field {
            height: auto;
        }

        .cmp-search__input {
            color: $color-white;
            background: transparent;
            border: none;
        }

        .cmp-search__icon {
            top: 8px;
            left: 2px;
            background-image: url('../resources/images/icon-search.svg');
            background-repeat: no-repeat;

            //background-image: url('http://localhost:8080/etc.clientlibs/wknd-muzik/clientlibs/clientlib-site/resources/images/icon-search.svg');
        }
    }

    .button {
        width: auto;
        right: 134px;

        .cmp-button {
            display: inline-block;
            margin: 0;
            background-color: transparent;
            border: 1px solid $color-white;

            &:hover, &:focus {
                background-color: $color-white;
                text-decoration: none;

                .cmp-button__icon--icon-material-email {
                    &:before {
                        background-image: url('../resources/images/icon-material-email-dark.svg');
                    }
                }

                .cmp-button__text {
                    color: $color-black;
                    text-decoration: none;
                }
            }

            &__icon {

                &--icon-material-email {
					display: inline-block;
                    margin-right: 11px;
                    margin-bottom: -1px;

                    &:before {
                        content: " ";
                        display: block;
                        width: 14px;
                        height: 11px;
                        background-position: center;
                        background-image: url('../resources/images/icon-material-email.svg');
                        background-repeat: no-repeat;
                    }

                }

            }

            &__text {
                font-size: 12px;
                font-weight: bold;
                letter-spacing: 2.4px;
            }
        }
    }

}
