.cmp-tabs {}
.cmp-tabs__tablist {
    align-items: center;
}
.cmp-tabs__tab {
    @extend .heading5;
    letter-spacing: 2.8px;
    text-align: center;
    color: $color-white;
    padding: 13px;
    border-radius: 8px;
    margin-right: 60px;
    &:last-child {
        margin-right: 0px;
    }
}
.cmp-tabs__tab--active {
    background-color: $color-primary;
    font-weight: $font-weight-bold;
    border-color: transparent;
}
.cmp-tabs__tabpanel {}
.cmp-tabs__tabpanel--active {}