
//== Font

$font-family:           'Montserrat', sans-serif;
$font-size:             16px;
$font-height:           1.63;

//== Color


// WKND-MUZIK Colors

$color-black: #0e0f13;
$color-gray: #171717;
$color-white: #ffffff;
$color-blue: #3c55f0;
$color-red: #fb2657;

// Normal mode
$color-foreground:      #202020;
$color-background:      #ECECEC;
$color-link:            #2020E0;

// Dark mode
$color-foreground-dark: invert($color-foreground);
$color-background-dark: invert($color-background);
$color-link-dark:       invert($color-link);
